:root {
    --color-purple: #34495e;;
    --color-light-purple: #8a4dad;
    --color-lighter-purple: #f1f0f6;
}

.bg-purple {
    background-color: var(--color-purple) !important;
}

.text-purple {
    color: var(--color-purple) !important;
}

.btn-purple {
    background-color: var(--color-purple);
    border-color: var(--color-purple);
    color: white;
}

.btn-purple:hover {
    background-color: var(--color-light-purple);
    border-color: var(--color-light-purple);
    color: white;
}

.table-purple {
    background-color: var(--color-purple);
    color: white;
}

.card-producto {
    transition: transform 0.3s;
    border: 1px solid #e9ecef;
}

.card-producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.producto-precio {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-purple);
}

.navbar-brand img {
    border-radius: 5px;
}

/* Estilos para la validación de formularios */
.was-validated .form-control:valid {
    border-color: #198754;
}

.was-validated .form-control:invalid {
    border-color: #dc3545;
}

/* Estilos para el video de perfume */
.videoPolo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: auto;
    padding-top: 20px;
    height: auto;
}

/* Modificaciones a la barra de Navegación o.O */
.itemNavbarInicio{
    margin-right: 40px;
}